@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Open+Sans&family=Overpass:wght@400;600&display=swap');
@mixin pad{
    @media(max-width:768px){
        @content
    }
}
@mixin mobile {
    @media (max-width:568px){
        @content
    }
}

@mixin  hide-text {
    text-indent: 110%;
    overflow: hidden;
    white-space: nowrap;
}

@mixin block ($w,$h,$back,$bor){
    width: $w;
    height: $h;
    background-color: $back;
    border: 1px solid $bor;
}
@mixin  center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}