// 顏色
$primary: #51AB5B;
$secondary: #F6A21A;
$font-color:#1F1E1D;
$light-font-color:#E5E5E5;
$background:#F7F7F7;


// 字體
$font-size-base: 1rem; //16px

$h2-font-size: $font-size-base * 3; //48px
$h3-font-size: $font-size-base * 2.25; //36px
$h4-font-size: $font-size-base * 1.75;// 28
$h5-font-size: $font-size-base * 1.125; //18px
$h6-font-size: $font-size-base; //16px
